src/main/app/impl-http.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="http:upload">
        <message-properties-transformer scope="invocation" doc:name="Extract Request Metadata">
            <add-message-property key="fileName" value="#[message.inboundAttachments.get('file').dataSource.part.fileName]"/>
            <add-message-property key="destination" value="#[new String(message.inboundAttachments.get('dest').dataSource.content)]"/>
            <add-message-property key="fileData" value="#[message.inboundAttachments.get('file').dataSource.part.getInputStream()]"/>
            <add-message-property key="root" value="${mft.root}${mft.web.upload.dir}"/>
        </message-properties-transformer>
        <set-payload value="#[fileData]" doc:name="Parse File into Payload"/>
        <file:outbound-endpoint path="${mft.root}${mft.web.upload.dir}/#[destination]" outputPattern="#[fileName]" responseTimeout="10000" doc:name="Write File into MFT Server"/>
        <set-property propertyName="content-type" value="application/json" doc:name="Set Response Content-Type"/>
        <set-payload value="{&quot;status&quot; : &quot;uploaded&quot;}" doc:name="Create Response"/>
    </flow>
</mule>
