target/classes/impl-scheduler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

    <flow name="mft:scheduleGet">
        <message-properties-transformer scope="invocation" doc:name="Type='GET'">
            <add-message-property key="type" value="GET"/>
            <add-message-property key="msgId" value="#[message.id]"/>
        </message-properties-transformer>
        <dw:transform-message metadata:id="38005ca4-3b6d-4b8a-a406-809c8464b612" doc:name="Create Job">
            <dw:input-variable mimeType="application/java" variableName="msgId"/>
            <dw:input-variable mimeType="application/java" variableName="type"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	file: inboundProperties."http.query.params".fileName,
	id: flowVars.msgId,
	lpath: inboundProperties."http.query.params".controllerPath,
	next: inboundProperties."http.query.params".nextJob,
	nodeId: inboundProperties."http.query.params".agentId,
	repeat: inboundProperties."http.query.params".repeat as :number,
	rpath: inboundProperties."http.query.params".agentPath,
	type: flowVars.type
}]]></dw:set-payload>
        </dw:transform-message>
        <object-to-string-transformer doc:name="Object to String"/>
        <objectstore:store config-ref="scheduledStore" key="#[message.id+'**'+message.inboundProperties.'http.query.params'.nextJob]" value-ref="#[payload]" overwrite="true" doc:name="Store Job"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	id: payload.id,
	message: "Task Scheduled"
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="mft:schedulePut">
        <message-properties-transformer scope="invocation" doc:name="Type='PUT'">
            <add-message-property key="type" value="PUT"/>
            <add-message-property key="msgId" value="#[message.id]"/>
        </message-properties-transformer>
        <dw:transform-message metadata:id="a29b389f-4ccd-4f7c-b471-1a58b70c3a8c" doc:name="Create Job">
            <dw:input-variable mimeType="application/java" variableName="msgId"/>
            <dw:input-variable mimeType="application/java" variableName="type"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	file: inboundProperties."http.query.params".fileName,
	id: flowVars.msgId,
	lpath: inboundProperties."http.query.params".controllerPath,
	next: inboundProperties."http.query.params".nextJob,
	nodeId: inboundProperties."http.query.params".agentId,
	repeat: inboundProperties."http.query.params".repeat as :number,
	rpath: inboundProperties."http.query.params".agentPath,
	type: flowVars.type
}]]></dw:set-payload>
        </dw:transform-message>
        <object-to-string-transformer doc:name="Object to String"/>
        <objectstore:store config-ref="scheduledStore" key="#[message.id+'**'+message.inboundProperties.'http.query.params'.nextJob]" value-ref="#[payload]" overwrite="true" doc:name="Store Job"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	id: payload.id,
	message: "Task Scheduled"
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="mft:cancelJob">
        <objectstore:remove config-ref="scheduledStore" key="#[message.inboundProperties.'http.query.params'.id+'**'+message.inboundProperties.'http.query.params'.next]" doc:name="Remove Job"/>
        <set-payload value="{
  &quot;message&quot; : &quot;job cancelled&quot;
}" doc:name="Set Payload"/>
    </flow>
        <flow name="util:checkJobs">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="10" timeUnit="SECONDS"/>
            <objectstore:retrieve-all-keys config-ref="scheduledStore" doc:name="Retrieve Jobs"/>
        </poll>
        <set-variable variableName="offset" value="${mft.timezone.offset}" doc:name="Current Timezone Offset"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <expression-filter expression="#[(new org.mule.el.datetime.DateTime(org.mule.util.StringUtils.substringAfter(payload,'**')+flowVars.offset, 'yyyy-MM-dd hh:mm:ssZ')).isBefore(server.dateTime)]" doc:name="Is the task ready to be executed ?"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="submitJob"  doc:name="Submit Job for Execution"/>
    </flow>
    <flow name="util:executeJob">
        <vm:inbound-endpoint exchange-pattern="one-way" path="submitJob" doc:name="Retrieve Job to be executed"/>
        <processor-chain doc:name="Job Pre-processing">
            <set-property propertyName="key" value="#[payload]" doc:name="Set Key"/>
            <objectstore:retrieve config-ref="scheduledStore" key="#[payload]" doc:name="Get Job Detail"/>
            <vm:outbound-endpoint exchange-pattern="one-way" path="submitNewJob" doc:name="Delegate Job Rescheduling"/>
            <enricher target="#[flowVars.task]" doc:name="Message Enricher">
                <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
            </enricher>
        </processor-chain>
        <set-variable variableName="msgId" value="#[message.id]" doc:name="msgId"/>
        <enricher target="#[flowVars.node]" doc:name="node">
            <processor-chain doc:name="Get Remote Node Metadata">
                <objectstore:retrieve config-ref="nodesStore" key="#[flowVars.task.nodeId]" doc:name="ObjectStore"/>
                <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
            </processor-chain>
        </enricher>
        <set-variable variableName="displayname" value="#[node.get('displayname')]" doc:name="displayname"/>
        <enricher target="#[flowVars.task]" doc:name="task">
            <processor-chain doc:name="Processor Chain">
                <dw:transform-message metadata:id="595fcb49-aeff-4e67-9e9b-3bb4089da151" doc:name="Transform Message">
                    <dw:input-payload mimeType="application/json"/>
                    <dw:input-variable mimeType="application/java" variableName="node"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	file: payload.file,
	id: flowVars.msgId,
	lPath: payload.lpath,
	nodeId: payload.nodeId,
	rPath: payload.rpath,
	remote: flowVars.displayname,
	type: payload.type,
	start: now as :string { format : "yyyy-MM-dd HH:mm:ss"},
	s: lookup('util:nano',null)
}]]></dw:set-payload>
                </dw:transform-message>
                <object-to-string-transformer doc:name="Object to String"/>
            </processor-chain>
        </enricher>
        <objectstore:store config-ref="currentStore" key="#[flowVars.msgId]" value-ref="#[task]" overwrite="true" doc:name="add to current"/>
        <flow-ref name="util:executeTask" doc:name="util:executeTask"/>
        <logger message="Completed" level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="#[exception.cause.message]" doc:name="Extract Exception Message"/>
            <dw:transform-message doc:name="Create Error Log">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	id: flowVars.msgId,
	message: payload
}]]></dw:set-payload>
            </dw:transform-message>
            <object-to-string-transformer doc:name="Object to String"/>
            <objectstore:store config-ref="errorStore" key="#[flowVars.msgId]" value-ref="#[payload]" overwrite="true" doc:name="Save Error"/>
            <set-property propertyName="http.status" value="499" doc:name="HTTP 499"/>
        </catch-exception-strategy>
    </flow>
    <flow name="util:submitNewJob">
        <vm:inbound-endpoint exchange-pattern="one-way" path="submitNewJob"  doc:name="Retrieve Job for Rescheduling"/>
        <message-properties-transformer scope="invocation" doc:name="Generate Metadata">
            <add-message-property key="vNext" value="#[json:/next]"/>
            <add-message-property key="vRepeat" value="#[json:/repeat]"/>
            <add-message-property key="task" value="#[payload]"/>
            <add-message-property key="msgId" value="#[message.id]"/>
        </message-properties-transformer>
        <objectstore:remove config-ref="scheduledStore" key="#[message.inboundProperties.'key']" ignoreNotExists="true" doc:name="Remove Old Task"/>
          <expression-filter expression="#[vRepeat &gt; 0]" doc:name="Does the job require rescheduling?"/>
        <set-payload value="#[task]" doc:name="Prepare Task info"/>
        <set-variable variableName="newNext" value="#[((new org.mule.el.datetime.DateTime(flowVars.vNext,'yyyy-MM-dd HH:mm:ss')).plusMinutes(flowVars.vRepeat)).format('yyyy-MM-dd HH:mm:ss')]" doc:name="Calculate Next Execution Time"/>
        <dw:transform-message metadata:id="7c7b6aad-08cf-4fa8-bdb3-ff283c82450f" doc:name="Create New Job">
            <dw:input-payload mimeType="application/json"/>
            <dw:input-variable mimeType="application/java" variableName="msgId"/>
            <dw:input-variable mimeType="application/java" variableName="newNext"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	file: payload.file,
	id: flowVars.msgId,
	lpath: payload.lpath,
	next: flowVars.newNext,
	nodeId: payload.nodeId,
	repeat: payload.repeat,
	rpath: payload.rpath,
	type: payload.type
}]]></dw:set-payload>
        </dw:transform-message>
        <object-to-string-transformer doc:name="Object to String"/>
        <objectstore:store config-ref="scheduledStore" key="#[message.id+'**'+flowVars.'newNext']" value-ref="#[payload]" doc:name="Store New Job"/>
    </flow>

</mule>
